In [1]:
import pandas as pd
import json
import os

In [2]:
# 새로운 DataFrame을 위한 빈 리스트 생성
emotion_data1 = []

directory_path = 'C:\\Users\\wngud\\Desktop\\발화 스타일 훈련셋'

# 모든 JSON 파일 읽기
for filename in os.listdir(directory_path):
    if filename.endswith('.json'):  # JSON 파일만 처리
        file_path = os.path.join(directory_path, filename)
        try:
            with open(file_path, 'r', encoding='utf-8') as file:
                data = json.load(file)
                df = pd.DataFrame(data)  # 리스트로 감싸서 단일 데이터프레임 생성
                
                for i in range(len(df.loc[0, "sentences"])):
                    emotion = df.loc[0, "sentences"][i]["style"]["emotion"]
                    origin_text = df.loc[0, "sentences"][i]["origin_text"]
                    emotion_data1.append({
                        "emotion": emotion,
                        "content": origin_text
                    })
        except json.JSONDecodeError as e:
            print("error")
        except Exception as e:
            print("error")

# 새로운 DataFrame 생성
if emotion_data1:
    emotion_data1 = pd.DataFrame(emotion_data1)
    print(emotion_data1.head())
else:
    print("error")

  emotion                                            content
0      분노        잘 생각해 보세요 형사님, 니아가 언제 마이크에 독을 바를 시간이 있었겠어요?
1      분노  내 손에 독이 묻어있다면 내 점퍼에도 마찬가지로 묻어 있겠지, 그러니까 독이 묻었다...
2      분노    그 옷은 자신의 옷이 아니라, 증거를 없애기 위해 자신의 옷과 바꿔치기한 옷이니까요!
3      분노             점퍼에 들어 있는 라이터가, 매니저가 범인이라는 결정적인 증거입니다!
4      분노     그는 처음부터 나를 조롱하려고 날 스카우트한 거예요, 그래서 용서할 수 없었다고요!

In [3]:
# 새로운 DataFrame을 위한 빈 리스트 생성
emotion_data2 = []

directory_path = 'C:\\Users\\wngud\\Desktop\\발화 스타일 검증셋'

# 모든 JSON 파일 읽기
for filename in os.listdir(directory_path):
    if filename.endswith('.json'):  # JSON 파일만 처리
        file_path = os.path.join(directory_path, filename)
        try:
            with open(file_path, 'r', encoding='utf-8') as file:
                data = json.load(file)
                df = pd.DataFrame(data)  # 리스트로 감싸서 단일 데이터프레임 생성
                
                for i in range(len(df.loc[0, "sentences"])):
                    emotion = df.loc[0, "sentences"][i]["style"]["emotion"]
                    origin_text = df.loc[0, "sentences"][i]["origin_text"]
                    emotion_data2.append({
                        "emotion": emotion,
                        "content": origin_text
                    })
        except json.JSONDecodeError as e:
            print("error")
        except Exception as e:
            print("error")

# 새로운 DataFrame 생성
if emotion_data2:
    emotion_data2 = pd.DataFrame(emotion_data2)
    print(emotion_data2.head())
else:
    print("error")

  emotion                                            content
0      분노                   그러니까 네놈들이 뒷골목의 망신이라는 바로 그 컴북스라고?
1      분노  큰일났다, 학교 지각이다, 도대체 엄마는 안 깨우고 뭐한 거야, 어떡해, 교문에 쌤...
2      분노  왜 우리가 비밀을 지켜 주려고 애쓰다가  저런 소리까지 들어야 되는 건데, 그냥 말...
3      분노                   거짓말, 아무리 내가 바보라도 그런 수법에는 안 넘어가요.
4      분노  잠깐, 그 밥에 손 대지 마, 먹지 마, 나가 버려, 나한테 상의도 없이 혼자 그 ...

In [4]:
excel_file_path = "C:\\Users\\wngud\\Desktop\\감성대화말뭉치_Training.xlsx"
df = pd.read_excel(excel_file_path)

In [5]:
df = df.drop(columns=['Unnamed: 0', '연령',"성별","상황키워드","신체질환","감정_소분류","시스템문장1","시스템문장2","시스템문장3"])

In [6]:
df.rename(columns={"감정_대분류":"emotion"}, inplace=True)

In [7]:
setiment_data1=df.loc[:,["emotion", "사람문장1"]]
setiment_data1.rename(columns={"사람문장1":"content"}, inplace=True)
setiment_data1 = setiment_data1.dropna()

In [8]:
setiment_data2=df.loc[:,["emotion", "사람문장2"]]
setiment_data2.rename(columns={"사람문장2":"content"}, inplace=True)
setiment_data2 = setiment_data2.dropna()

In [9]:
setiment_data3=df.loc[:,["emotion", "사람문장3"]]
setiment_data3.rename(columns={"사람문장3":"content"}, inplace=True)
setiment_data3 = setiment_data3.dropna()

In [10]:
excel_file_path = "C:\\Users\\wngud\\Desktop\\감성대화말뭉치_Validation.xlsx"
df = pd.read_excel(excel_file_path)

In [11]:
df = df.drop(columns=['Unnamed: 0', '연령',"성별","상황키워드","신체질환","감정_소분류","시스템문장1","시스템문장2","시스템문장3"])

In [12]:
df.rename(columns={"감정_대분류":"emotion"}, inplace=True)

In [13]:
setiment_data4=df.loc[:,["emotion", "사람문장1"]]
setiment_data4.rename(columns={"사람문장1":"content"}, inplace=True)
setiment_data4 = setiment_data4.dropna()

In [14]:
setiment_data5=df.loc[:,["emotion", "사람문장2"]]
setiment_data5.rename(columns={"사람문장2":"content"}, inplace=True)
setiment_data5 = setiment_data5.dropna()

In [15]:
setiment_data6=df.loc[:,["emotion", "사람문장3"]]
setiment_data6.rename(columns={"사람문장3":"content"}, inplace=True)
setiment_data6 = setiment_data6.dropna()

In [16]:
emotion_data1.value_counts("emotion")

emotion
무감정    202978
기쁨     121860
슬픔     119208
분노     116578
Name: count, dtype: int64

In [17]:
emotion_data2.value_counts("emotion")

emotion
무감정    24273
분노     12949
기쁨     12947
슬픔     12849
Name: count, dtype: int64

In [18]:
emotion_data = pd.concat([emotion_data1, emotion_data2], axis=0)

In [19]:
emotion_data["emotion"].value_counts()

emotion
무감정    227251
기쁨     134807
슬픔     132057
분노     129527
Name: count, dtype: int64

In [20]:
setiment_data1.value_counts("emotion")

emotion
불안    9320
분노    9160
상처    9143
슬픔    9125
당황    8756
기쁨    6126
Name: count, dtype: int64

In [21]:
setiment_data2.value_counts("emotion")

emotion
불안    9320
분노    9160
상처    9143
슬픔    9125
당황    8756
기쁨    6126
Name: count, dtype: int64

In [22]:
setiment_data3.value_counts("emotion")

emotion
분노    7680
상처    7671
불안    7661
슬픔    7564
당황    7424
기쁨    4695
Name: count, dtype: int64

In [23]:
setiment_data4.value_counts("emotion")

emotion
분노    1257
기쁨    1213
불안    1113
당황    1048
상처    1007
슬픔    1003
Name: count, dtype: int64

In [24]:
setiment_data5.value_counts("emotion")

emotion
분노    1257
기쁨    1213
불안    1113
당황    1048
상처    1007
슬픔    1003
Name: count, dtype: int64

In [25]:
setiment_data5.value_counts("emotion")

emotion
분노    1257
기쁨    1213
불안    1113
당황    1048
상처    1007
슬픔    1003
Name: count, dtype: int64

In [26]:
setiment_data = pd.concat([setiment_data1, setiment_data2,setiment_data3,setiment_data4,setiment_data5,setiment_data6], axis=0)

In [27]:
setiment_data["emotion"].value_counts()

emotion
분노    29410
불안    29320
상처    28703
슬픔    28598
당황    27730
기쁨    20162
Name: count, dtype: int64

In [28]:
emotion_data["emotion"].value_counts()

emotion
무감정    227251
기쁨     134807
슬픔     132057
분노     129527
Name: count, dtype: int64

In [29]:
setiment_data[setiment_data["emotion"] == "상처"]

     emotion                                            content
25        상처        면접관에게 완전히 속았어. 면접일에 알려준 연봉과 실수령액이 꽤 차이가 나네.
26        상처                      지인이 취업시켜준다면서 사기를 쳤어. 배신감이 들어.
27        상처  우리 부모님은 나를 버린 거나 다름없어. 내가 진로에 대해 걱정을 할 때 나를 걱정...
28        상처                             계속 취업이 안 되니까 버려진 기분이야.
42        상처                           나 너무 우울해. 회사에서 큰 실수를 했어.
...      ...                                                ...
6477      상처    내 옆자리에 앉는 동료에게 제일 먼저 말을 걸고 싶어. 항상 배려해준다고 생각했거든.
6488      상처  막상 취업하고 나면 전공자 비전공자 구분이 없다고 하거든. 근데 취업 문턱을 넘기까...
6521      상처   다른 집 애들은 엄마가 더 힘들다고 엄마 도와주고 그러는데 자식 키워봐야 소용이 없네!
6536      상처  인스타그램 같은 사회관계망서비스를 활용하면 시간에 구애받지 않을 것 같아. 서로 사...
6554      상처             확인할 시간이 없어서 그냥 제출하는 일이 많거든. 실수가 너무 잦아.

[28703 rows x 2 columns]

In [30]:
setiment_data.loc[setiment_data['emotion'] == '상처', 'emotion'] = '슬픔'
setiment_data.loc[setiment_data['emotion'] == '당황', 'emotion'] = '불안'

In [31]:
setiment_data["emotion"].value_counts()

emotion
슬픔    57301
불안    57050
분노    29410
기쁨    20162
Name: count, dtype: int64

In [32]:
excel_file_path = "C:\\Users\\wngud\\Desktop\\한국어_단발성_대화_데이터셋.xlsx"
korea_data = pd.read_excel(excel_file_path)

In [33]:
korea_data

                                                Sentence Emotion
0                               언니 동생으로 부르는게 맞는 일인가요..??      공포
1                                           그냥 내 느낌일뿐겠지?      공포
2                                         아직너무초기라서 그런거죠?      공포
3                                          유치원버스 사고 낫다던데      공포
4                                            근데 원래이런거맞나요      공포
...                                                  ...     ...
38589               솔직히 예보 제대로 못하는 데 세금이라도 아끼게 그냥 폐지해라..      혐오
38590                                        재미가 없으니 망하지      혐오
38591  공장 도시락 비우생적임 아르바이트했는데 화장실가성 손도 않씯고 재료 담고 바닥 떨어...      혐오
38592               코딱지 만한 나라에서 지들끼리 피터지게 싸우는 센징 클래스 ㅉㅉㅉ      혐오
38593               와이프도 그렇고 댓글 다 볼텐데 이휘재 좀 하차 하라고 전해주세요      혐오

[38594 rows x 2 columns]

In [34]:
korea_data.rename(columns={"Sentence":"content"}, inplace=True)
korea_data.rename(columns={"Emotion":"emotion"}, inplace=True)

In [35]:
korea_data = korea_data.dropna()

In [36]:
korea_data.loc[korea_data['emotion'] == '행복', 'emotion'] = '기쁨'
korea_data.loc[korea_data['emotion'] == '중립', 'emotion'] = '무감정'
korea_data.loc[korea_data['emotion'] == '공포', 'emotion'] = '불안'
korea_data.loc[korea_data['emotion'] == '혐오', 'emotion'] = '분노'
korea_data.loc[korea_data['emotion'] == '놀람', 'emotion'] = '불안'

In [37]:
total_data = pd.concat([setiment_data,emotion_data,korea_data], axis=0)

In [38]:
total_data['content'] = total_data['content'].str.strip()

In [39]:
total_data["emotion"].value_counts()

emotion
무감정    232081
슬픔     194625
분노     170031
기쁨     161006
불안      68416
Name: count, dtype: int64

In [40]:
total_data.loc[total_data['emotion'] == '무감정', 'emotion'] = 0
total_data.loc[total_data['emotion'] == '슬픔', 'emotion'] = 1
total_data.loc[total_data['emotion'] == '분노', 'emotion'] = 2
total_data.loc[total_data['emotion'] == '기쁨', 'emotion'] = 3
total_data.loc[total_data['emotion'] == '불안', 'emotion'] = 4

In [41]:
total_data["emotion"].value_counts()

emotion
0    232081
1    194625
2    170031
3    161006
4     68416
Name: count, dtype: int64

In [42]:
total_data

      emotion                                            content
0           2                          일은 왜 해도 해도 끝이 없을까? 화가 난다.
1           2     이번 달에 또 급여가 깎였어! 물가는 오르는데 월급만 자꾸 깎이니까 너무 화가 나.
2           2  회사에 신입이 들어왔는데 말투가 거슬려. 그런 애를 매일 봐야 한다고 생각하니까 스...
3           2  직장에서 막내라는 이유로 나에게만 온갖 심부름을 시켜. 일도 많은 데 정말 분하고 ...
4           2              얼마 전 입사한 신입사원이 나를 무시하는 것 같아서 너무 화가 나.
...       ...                                                ...
38589       2               솔직히 예보 제대로 못하는 데 세금이라도 아끼게 그냥 폐지해라..
38590       2                                        재미가 없으니 망하지
38591       2  공장 도시락 비우생적임 아르바이트했는데 화장실가성 손도 않씯고 재료 담고 바닥 떨어...
38592       2               코딱지 만한 나라에서 지들끼리 피터지게 싸우는 센징 클래스 ㅉㅉㅉ
38593       2               와이프도 그렇고 댓글 다 볼텐데 이휘재 좀 하차 하라고 전해주세요

[826159 rows x 2 columns]

In [43]:
test = total_data.drop_duplicates(subset=['content'])

In [44]:
test

      emotion                                            content
0           2                          일은 왜 해도 해도 끝이 없을까? 화가 난다.
1           2     이번 달에 또 급여가 깎였어! 물가는 오르는데 월급만 자꾸 깎이니까 너무 화가 나.
2           2  회사에 신입이 들어왔는데 말투가 거슬려. 그런 애를 매일 봐야 한다고 생각하니까 스...
3           2  직장에서 막내라는 이유로 나에게만 온갖 심부름을 시켜. 일도 많은 데 정말 분하고 ...
4           2              얼마 전 입사한 신입사원이 나를 무시하는 것 같아서 너무 화가 나.
...       ...                                                ...
38589       2               솔직히 예보 제대로 못하는 데 세금이라도 아끼게 그냥 폐지해라..
38590       2                                        재미가 없으니 망하지
38591       2  공장 도시락 비우생적임 아르바이트했는데 화장실가성 손도 않씯고 재료 담고 바닥 떨어...
38592       2               코딱지 만한 나라에서 지들끼리 피터지게 싸우는 센징 클래스 ㅉㅉㅉ
38593       2               와이프도 그렇고 댓글 다 볼텐데 이휘재 좀 하차 하라고 전해주세요

[234246 rows x 2 columns]

In [45]:
test["emotion"].value_counts()

emotion
1    69337
4    66765
2    47801
3    34299
0    16044
Name: count, dtype: int64

In [46]:
total_data.to_excel('total_data.xlsx', index=False)